

.frame {
	/*display : table;*/
	/*border-radius : 10px;*/
	padding : 0px;
	border : 1px solid #aaa;
	z-index : 999;
	left : 50%;
	top : 50%;
	transform : translate(-50%, -50%);
	position : absolute;
	min-width: 100px;
}