.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.frame {
	/*display : table;*/
	/*border-radius : 10px;*/
	padding : 0px;
	border : 1px solid #aaa;
	z-index : 999;
	left : 50%;
	top : 50%;
	transform : translate(-50%, -50%);
	position : absolute;
	min-width: 100px;
}