@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}


.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.frame {
	display : table;
	@include border-radius(5px);
	padding : 10px;
	border : 1px solid;
	z-index : 999;
	left : 50%;
	top : 50%;
	transform : translate(-50%, -50%);
	position : absolute;
	min-width: 100px;
	width: 300px;
}